// 1th-section
section.section-1
	include ../common/header

	.container-fluid
		.row
			.container
				.row
					.col-md-12
						section.section-1-inner.d-flex.align-items-center
							div
								h1.title.decor.wow.slideInUp.fadeIn(data-wow-delay="0.5s", data-wow-duration="0.2s")
									.wow.zoomIn(data-wow-delay="1s", data-wow-duration="0.4s") DATING-SERVICE ПОД КЛЮЧ
								.wow.fadeIn(data-wow-delay="1.5s", data-wow-duration="0.5s")
									h4.startlabel СРОК ЗАПУСКА - 
										strong 30 ДНЕЙ
									p.description.
										Хватит тратить время на поиск команды разработчиков,
										и выбрасывать деньги на ветер за халтурную работу! 
										Оставьте заявку ниже и мы свяжемся с Вами.

									button.btn.btn-default Заказать
