// 2th-section
section.section-2
	.container
		.row
			.col-md-12
				h2.title.decor.decorFirstLine.wow.slideInUp.fadeIn(data-wow-duration="0.2s")
					.wow.zoomIn(data-wow-delay="0.5s", data-wow-duration="0.4s") ФУНКЦИИ<br>ДЕЙТИНГ-СЕРВИСА
				
				.wrapper-items.wow.fadeIn(data-wow-delay="1s", data-wow-duration="0.5s")
					.wrapper.d-flex.flex-wrap

						// ITEM 
						.item-case
							.image
								.icon.ds-mail
							.title-case.
									Отправка 
									электронных писем
							.description-case.
								Возможность отправки офлайн сообщений (как email письма с отдельной темой).

						// ITEM 
						.item-case
							.image
								.icon.ds-video
							.title-case.
								Текстовый чат и видео-чат
							.description-case.
								Полноценный текстовый чат с онлайн-переводчиком для девушек, двусторонний видео-чат.

						// ITEM 
						.item-case
							.image
								.icon.ds-star
							.title-case.
								Популярная активность
							.description-case.
								Возможность ставить лайки, подмигивать, добавлять в избранное.

						// ITEM 
						.item-case
							.image
								.icon.ds-user
							.title-case.
								Полноценная анкета пользователя
							.description-case.
								Полноценная анкета пользователя со всеми необходимыми данными.

						// ITEM 
						.item-case
							.image
								.icon.ds-bell
							.title-case.
								Строка уведомлений пользователя
							.description-case.
								Строка уведомлений пользователя (затраты, новые сообщения, лайки, подмигивания и т.д.).

						// ITEM 
						.item-case
							.image
								.icon.ds-playCase
							.title-case.
								Премиум контент и покупки
							.description-case.
								Платные фотографии и видео в галерее, возможность покупать подарки и услуги.

						.clearfix