// 3th-section
section.section-3
	.container-fluid
		.row
			.container
				.row
					.col-md-12
						h2.title.decor.decorFirstLine.wow.slideInUp.fadeIn(data-wow-duration="0.2s")
							.wow.zoomIn(data-wow-delay="0.5s", data-wow-duration="0.4s") ПРЕИМУЩЕСТВА<br>ГОТОВОГО СЕРВИСА
						
						.wrapper-items
							.wrapper.d-flex.flex-wrap

								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1s", data-wow-duration="0.5s")
									.icon.ds-check
									.title-case.
										Срок запуска - 1 месяц
									.description-case.
										Не нужно очень долго ждать, пока проектируется, разрабатывается и верстается дизайн, программируется функционал с нуля.

								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.2s", data-wow-duration="0.5s")
									.icon.ds-check
									.title-case.
										Функциональность
									.description-case.
										Cразу получаете большой набор функций как для пользователй, так и внутренние настроенные бизнес- процессы в админ-панели, большой объем статистики и аналитики.
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.4s", data-wow-duration="0.5s")
									.icon.ds-check
									.title-case
										|Стоимость под ключ -
										span.price $1000
									.description-case.
										Цена готового решения в разы меньше, чем разработка такого же сервиса с нуля. Например, запуск подобного бизнеса с нуля<br>обходится в 3`000-20`000$.
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.6s", data-wow-duration="0.5s")
									.icon.ds-check
									.title-case.
										Проверенный опыт
									.description-case.
										С первого момента запуска Вы получаете многолетний опыт успешных дейтинг-сервисов и надежные, проверенные<br>механизмы работы.
