// 4th-section
section.section-4
	.container
		.row
			.col-md-12
				h2.title.decor.decorFirstLine.wow.slideInUp.fadeIn(data-wow-duration="0.2s")
					.wow.zoomIn(data-wow-delay="0.5s", data-wow-duration="0.4s") ДИЗАЙН ВАШЕГО<br>ДЕЙТИНГ-СЕРВИСА

				p.description.wow.fadeIn(data-wow-delay="0.8s", data-wow-duration="0.5s").
					Мы предлагаем уникальное решение дизайна на любой вкус.<br>
					Вы можете настроить сайт на шаблонный вариант, либо использовать широкие возможности тонкой настройки дизайна.
				
				.wrapper-items
					.container-fluid
						.row
							.col-md-4
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.1s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_1.jpg", alt="Preview 1")
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.5s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_3.jpg", alt="Preview 3")
							.col-md-4
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.3s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_2.jpg", alt="Preview 2")
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.1s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_4.jpg", alt="Preview 4")
							.col-md-4
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.5s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_5.jpg", alt="Preview 5")
								// ITEM 
								.item-case.wow.fadeIn(data-wow-delay="1.3s", data-wow-duration="0.3s")
									a.image
										img(src="images/web/site_preview_6.jpg", alt="Preview 6")