html(lang='ru')

	include common/head
	
	body
		include include/1th-section
		include include/2th-section
		include include/3th-section
		include include/4th-section
		include include/feedback