.wrapper-success.d-flex.align-items-center#Success
	.container
		.row
			.col-md-12
				.content-success
					p.success.decor.decorFirstLine Спасибо за обращение!<br>Мы свяжемся с Вами в ближайшее время.
					button.btn.btn-default(onclick="close_success()") Закрыть